<header>
    <div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link" href="/compose">Add worry</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/worries">Worry list</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
            </li>  
            </li>
        </ul>
    </div>
</header>
