<%- include("partials/header"); -%>
  <body>
    <div class="nav-bar-container">
      <ul class="nav justify-content-end">
          <li class="nav-item">
          <a class="nav-link" href="/compose">ADD</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/worries">NOTES</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="#">LOG OUT</a>
          </li>  
          </li>
      </ul>
  </div>
    <div>
      <form class="compose-form" action="/compose" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            class="form-control"
            id="title"
            aria-describedby="emailHelp"
            autocomplete="off"
          />
        </div>
        <div class="mb-3">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            name="content"
            id="content"
            rows="3"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include("partials/footer"); -%>
    
  </body>
</html>
