<%- include("partials/header"); -%>
  <body class="connect-body">
    <div class="connect-social-media">
      <a class="btn btn-lg btn-social btn-google">
        <i class="fab fa-google"></i> Connect with Google
      </a>
      <a class="btn btn-lg btn-social btn-facebook">
        <i class="fab fa-facebook-f"></i> Connect with Facebook
      </a>
    </div>
   <%- include("partials/footer"); -%>
  </body>
</html>
