 <%- include("partials/header"); -%>
<body class="connect-body">
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1">
      <a class="btn btn-md btn-social btn-google a-google" href="/auth/google" role="button"> 
        <i class="devicon-google-plain"></i>Connect with Google
      </a>
      <a href="/login" class="btn btn-outline-light btn-md a-login">Login</a>
      <a href="/register" class="btn btn-outline-light btn-md a-register" >Register</a>
    </form>
                   
    </div>
     
</body>
<%- include("partials/footer"); -%>
</html> 




