<%- include("partials/header"); -%>
  <body class="home-body">

    <div class="home-container">
      <a href="/connect" class="btn-shine">Start Worries Notes</a>
    </div>
  <%- include("partials/footer"); -%>
  </body>
</html>
