<%- include("partials/header"); -%>
<body class="login-body">
  <div class="main">
    <p class="sign" align="center">Sign in</p>
    <form class="form1" action="/login" method="POST">
      <input class="un " type="email" align="center" placeholder="Email" name="username">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <button class="submit" type="submit" align="center">Sign in</button>
    </form>
                   
    </div>
     
</body>
<%- include("partials/footer"); -%>
</html> 
