<%- include("partials/header"); -%>
<body class="register-body">
  <div class="main">
    <p class="sign" align="center">Sign up</p>
    <form class="form1" action="/register" method="POST">
      <input class="un " type="email" align="center" placeholder="Email" name="username">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <input class="pass" type="password" align="center" placeholder="Confirm password" name="confirmPassword">
      <button class="submit" type="submit" align="center">Sign up</button>
    </form>  
                   
    </div>
     
</body>
<%- include("partials/footer"); -%>
</html> 
