html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.text-wrap {
  word-break: normal;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container {
  border: rgba(0, 0, 0, 0.25) solid 0.5px;
  border-radius: 0.2rem;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 23vw;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .card-container {
    width: 100vw;
  }

  .top-nav-bar {
    padding: 2% 2%;
  }
}

.card-body-container {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.card-btns {
  margin-top: auto;
}

.card-btns .btn {
  border: rgba(0, 0, 0, 0.25) solid 1px;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  display: inline;
  margin: 0.5rem 0rem 0.5rem 0.5rem;
}
.compose-form {
  padding: 5%;
}

.edit-form {
  padding: 5%;
}

.btn-form {
  position: relative;
  display: inline;
}

/*************************** NEW NOTE SECTION *******************************/
.new-card-btn {
  border: rgba(0, 0, 0, 0.25) solid 1px;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  display: inline;
  margin: 0.5rem 0rem 0rem 0rem;
}

.new-content-area {
  margin-top: 2%;
  margin-bottom: 0 !important;
}

/*************************** NAV-BAR SECTION *******************************/

.top-nav-bar {
  padding: 1% 1% 1% 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}

.top-nav-bar > ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.top-nav-bar > ul > li {
  display: flex;
  margin: 0 0% 0 0%;
  font-size: 1rem;
}

.standard-btn {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgb(63, 63, 68);
  position: relative;
  overflow: hidden;
}

.standard-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(63, 63, 68, 0.4);
  color: #b9b9ca;
}

.standard-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(63, 63, 68, 0.4),
    transparent
  );
  transition: all 650ms;
}

.standard-btn:hover:before {
  left: 100%;
}
/*************************** HOME SECTION *******************************/

.home-btn {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.home-body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

a.btn-shine {
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn-shine {
  text-decoration: none;
  border: 1px solid rgb(63, 63, 68);
  position: relative;
  overflow: hidden;
}

.btn-shine:hover {
  box-shadow: 1px 1px 25px 10px rgba(63, 63, 68, 0.4);
  color: #b9b9ca;
}

.btn-shine:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(63, 63, 68, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn-shine:hover:before {
  left: 100%;
}

/*************************** CONNECT SECTION *******************************/

.connect-body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.connect-div {
  border: 1px solid #3f3f44;
  border-radius: 10px;
  width: 30%;
  padding: 2%;
  position: relative;
  top: 35%;
  left: 35%;
  justify-content: center;
}

@media screen and (max-width: 985px) {
  .connect-div {
    border: 1px solid #3f3f44;
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    position: relative;
    top: 35%;
    left: 25%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 530px) {
  .connect-div {
    border: 1px solid #3f3f44;
    border-radius: 10px;
    width: 90%;
    padding: 2%;
    position: relative;
    left: 0;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.row {
  display: flex;
  flex-direction: column;
}

.social-media-div.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.login-register-div.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /* border-left: 2px solid #3f3f44; */
}

.btn-google {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 2%;
}

.btn-facebook {
  display: block;
  width: auto;
  height: auto;
}

.a-login {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 2%;
  margin-top: 2%;
}

.a-regsiter {
  display: block;
  width: auto;
  height: auto;
}

.social-media-div > a {
  text-align: center;
}

/*************************** LOGIN SECTION *******************************/

h1.login {
  color: #fff;
  display: inline;
}

.login-body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

.login-div {
  display: block;
  margin: 15% 30%;
}
.login-div .row {
  display: inline;
}

.login-div .row .col-sm-8 {
  display: inline;
}

.login-btn {
  margin-top: 3%;
}

/*************************** REGISTER SECTION *******************************/

h1.register {
  color: #fff;
  display: inline;
}

.register-body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

.register-div {
  display: block;
  margin: 15% 30%;
}
.register-div .row {
  display: inline;
}

.register-div .row .col-sm-8 {
  display: inline;
}

.register-btn {
  margin-top: 3%;
}

/*************************** Alarm SECTION *******************************/

.alarm-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.alarm-input {
  border: rgba(0, 0, 0, 0.25) solid 1px;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
  display: inline;
  margin: 0.5rem 0rem 0rem 0.5rem;
}
