html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

p {
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
}

a:hover {
  color: #000;
}

.compose-form {
  padding: 5%;
}

.edit-form {
  padding: 5%;
}

.btn-form {
  position: relative;
  display: inline;
}

/*************************** NAV-BAR SECTION *******************************/

.nav-bar-container {
  padding: 1% 1% 1% 0;
  background-color: #3f3f44;
}

/*************************** HOME SECTION *******************************/

.home-body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

a.btn-shine {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn-shine {
  text-decoration: none;
  border: 1px solid rgb(63, 63, 68);
  position: relative;
  overflow: hidden;
}

.btn-shine:hover {
  box-shadow: 1px 1px 25px 10px rgba(63, 63, 68, 0.4);
  color: #b9b9ca;
}

.btn-shine:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(63, 63, 68, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn-shine:hover:before {
  left: 100%;
}

/*************************** CONNECT SECTION *******************************/

.connect-body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/note_and_notebook.jpg") no-repeat center center/cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 60vh;
}

.connect-social-media {
  /* border-style: solid;
  /* border-width: 5px;
  border-color: #3f3f44; */

  border: 2px solid #3f3f44;
  border-radius: 10px;
  position: relative;
  margin: 15% 35% 15% 35%;
  padding: 2% 1% 2% 1%;
}

.btn-google {
  display: block;
  width: auto;
  height: auto;
  margin-bottom: 2%;
}

.btn-facebook {
  display: block;
  width: auto;
  height: auto;
}
